a {
	text-decoration: none;   
    color: deepskyblue;    
}
a:hover {
    color: red;       
}
a.concept {
	background: #FFFFCC; 
    border-radius: 5px;
    border: 1px solid gray;
    padding: 1px 3px;
}
a.concept:hover {
    background: white;    
}

.usw-aatlist, .usw-aatconceptdetails {
      background: whitesmoke; 
}

.usw-aatlist ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    display:inline-block;
    border: 0px;   
}

.usw-aatlist ul li {
    padding: 0px;
    border: 0px;
    display: inline-block;
    margin: 3px 3px;        
}

.usw-aatsearch, .usw-skossearch {
    border: 1px solid gray;
}

.usw-skosconceptschemes ul li {
    display: block;
}

.usw-aatsearchresult ul li, .usw-skossearch ul li {
    display: inline-block;
}

.usw-skospreflabels ul li, .usw-aatpreflabels ul li {
    background: white;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 2px 4px;
}
